.multi_line_input {
    font-weight: bolder;
    margin: 18px;
    padding-left: 25px;
    background-color: #5F9EA0;
    width: 400px;
    height: 55px;
}
.multi_line_input_btn {
    margin-left: 45px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
}